@import "../common";

html, body {
  margin: 0;
  padding: 0;

  @media @phone, @tablet {
    @media @landscape {
      overflow: auto;
      overflow-y: hidden;
      white-space: nowrap;
    }
  }
}

body::after {
  background-image: url("./rain.png");
  opacity: 0.5;

  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
}

.app {
  display: flex;
  @media @phone, @tablet {
    @media @landscape {
      flex-flow: row;
      height: 100vh;
    }
    @media @portrait {
      flex-flow: column;
      width: 100%;
    }
  }
  @media @desktop {
    flex-flow: row;
  }
}

.header {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}