@import "../common";

html, body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;

  background: url("./rain-light.png") repeat scroll;

  @media @phone, @tablet {
    @media @landscape {
      overflow: auto;
      overflow-y: hidden;
      //white-space: nowrap;
    }
  }
}

.app {
  display: flex;
  @media @phone, @tablet {
    @media @landscape {
      flex-flow: row;
      height: 100vh;
    }
    @media @portrait {
      flex-flow: column;
      width: 100%;
    }
  }
  @media @desktop {
    flex-flow: row;
  }
}

.app-top {
  flex-basis: 0; // prevent from growing with .header on @desktop when paused

  display: flex;
  flex-flow: column;
  @media @phone and @landscape {
    flex-flow: row;
  }
}

.header {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  @media @phone and @landscape {
    flex-flow: column wrap;
  }

  margin: 0.7em;
  padding: 0.2em;
  border-radius: 0.3em;
  background-color: @blue;
  color: white;

  box-shadow: 0 0 0.3em 0.2em @blue;

  a {
    text-decoration: none;
    color: inherit;
  }

  a:hover, a:active {
    opacity: 0.9;
  }

  @media @tablet {
    font-size: 110%;
  }

  button {
    box-shadow: 0 0 0.4em lighten(@blue, 35%);
  }


  .brand {
    order: 0;
  }
  .buttons {
    order: 1;
  }
  .timer {
    order: 2;
  }

  @media @desktop, @phone and @portrait {
    .buttons {
      order: 3;
      width: 100%; // force to second row
    }
  }

  .brand, .timer {
    margin: 0.2em;
  }
}

.brand {
  font-weight: bold;
  color: yellow;

  small {
    font-weight: normal;
    color: white;

    @media @phone {
      display: none;
    }
  }
}

.buttons {
  flex-grow: 1;

  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  @media @phone and @landscape {
    flex-flow: column wrap;
  }

  button {
    flex-grow: 1;

    margin: 0.2em 0.7em;
    @media @phone and @landscape {
      margin: 0.7em 0.2em;
    }
  }
}