@import "../common";

.highscore {
  .box;

  align-self: center;
}

.highscore-title {

}

.highscore tbody {

  .highscore-i {
    //width: 1.5em;
    //padding-right: 0.5em;
    text-align: right;
  }

  .highscore-name {
    padding-left: 0.5em;
    padding-right: 0.5em;

    text-align: left;

    /*white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 30vmin;*/
    word-break: break-all;
  }

  .highscore-time {
    //width: 4em;
    //padding-left: 0.5em;
    text-align: center;
  }
}

.highscore-text {
  font-style: italic;
  text-align: center;
}