@import "../common";

.hints {
  @media @small {
    display: flex;
    @media @portrait {
      clear: left;
      flex-flow: column;
    }
    @media @landscape {
      flex-flow: row;
      height: 100vh;
    }
  }
}

.hints-horizontal, .hints-vertical {
  @media @small {
    display: flex;
    flex-flow: row wrap;
    @media @portrait {
      //justify-content: space-around;
    }
    @media @landscape {
      /*
      writing-mode is workaround for flex-flow: column wrap;

      https://stackoverflow.com/q/31388099
      https://stackoverflow.com/q/33891709
      https://stackoverflow.com/a/41209546
      https://bugs.chromium.org/p/chromium/issues/detail?id=507397
      https://bugzilla.mozilla.org/show_bug.cgi?id=995020
       */
      writing-mode: vertical-lr;
      height: 100vh;
    }
  }
}

.hint-outer {
  display: inline-block;
  @media @small and @landscape {
    writing-mode: horizontal-tb;
  }
}

.hint {
  border-collapse: collapse;
  margin: 3px;

  .clickable;
}

.hint td {
  width: 48px;
  height: 48px;
  padding: 0;
  line-height: 0;
  
  .center-outer;
}

.hint-between {
  .center-hor;

  top: 0;
  z-index: 100;
}