@import "../common";

.hints {
  @media @phone, @tablet {
    display: flex;
    @media @portrait {
      clear: left;
      flex-flow: column;
    }
    @media @landscape {
      flex-flow: row;
      height: 100vh;
    }
  }
}

.hints-horizontal, .hints-vertical {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  //justify-content: space-around;

  @media @phone, @tablet {
    @media @landscape {
      /*
      writing-mode is workaround for flex-flow: column wrap;

      https://stackoverflow.com/q/31388099
      https://stackoverflow.com/q/33891709
      https://stackoverflow.com/a/41209546
      https://bugs.chromium.org/p/chromium/issues/detail?id=507397
      https://bugzilla.mozilla.org/show_bug.cgi?id=995020
       */
      writing-mode: vertical-lr;
      height: 100vh;
    }
  }
}

.hint-outer {
  display: inline-block;
  @media @phone, @tablet {
    @media @landscape {
      writing-mode: horizontal-tb;
    }
  }
}

.hint {
  .table-equal;
  .table-gapless;
  border-collapse: collapse;

  @media @phone {
    margin: 1vmin;
  }
  @media @tablet {
    margin: 0.5vmin;
  }
  @media @desktop {
    margin: 3px;
  }

  .clickable;

  /*img {
    //.table-cell-filler;

    @media @phone {
      width: 10vmin;
      height: 10vmin;
    }
    @media @tablet {
      width: 7.5vmin;
      height: 7.5vmin;
    }
  }*/
}

.hint td {
  /*@media @phone {
    width: 10vmin;
    height: 10vmin;
  }
  @media @tablet {
    width: 7.5vmin;
    height: 7.5vmin;
  }*/
  & > img {
    @media @phone {
      width: 10vmin;
    }
    @media @tablet {
      width: 7.5vmin;
    }
    @media @desktop {
      width: image-width("./icons/original/hint-tile.png");
    }
  }
  
  .center-outer;
}

.hint-between {
  .center-hor;

  top: 0;
  z-index: 100;
  width: (image-width("./icons/original/hint-between.png") / image-width("./icons/original/hint-tile.png")) * 100%;

  img {
    width: 100%;
  }
}