@import "../common";

.multiboard-outer {
  align-self: center;

  @media @phone {
    width: 100vmin;
  }
  @media @tablet {
    width: 75vmin;
  }
  @media @desktop {
    width: 60vmin;
  }
}

.multiboard {
  .table-equal;
  .table-gapless;

  width: 100%;

  @cell-border-radius: 7.5%;
  @cell-padding: 0.75%;

  td {
    padding: @cell-padding;
  }

  // emulate border-radius on table via corner cells
  & > tr:first-child {
    & > td:first-child {
      border-top-left-radius: @cell-border-radius;
    }
    & > td:last-child {
      border-top-right-radius: @cell-border-radius;
    }
  }
  & > tr:last-child {
    & > td:first-child {
      border-bottom-left-radius: @cell-border-radius;
    }
    & > td:last-child {
      border-bottom-right-radius: @cell-border-radius;
    }
  }
}

.cell {
  .square;
  .center-outer;

  background-image: url('./icons/original/tile.png');
  background-size: 100% 100%;
}

.cell-single img {
  .table-cell-filler;
}

.cell-multi {
  .center-ver;
  .table-cell-filler;

  .table-equal;
  .table-gapless;
}

.cell-multi-variant {
  .clickable;

  img {
    .table-cell-filler;
  }
}

.cell-multi-empty {
  .square;
}

.paused .multiboard .cell * {
  display: none;
}

.cell-correct {
  background-color: fade(lime, 75%);
}

.cell-incorrect {
  background-color: fade(red, 75%);
}