@import "../common";

.solved {
  background-color: lime;
}

.over {
  background-color: red;
}

.multiboard {
  .table-equal;
  .table-gapless;

  //float: left;

  @media @phone {
    width: 100vmin;
    align-self: center;
  }
  @media @tablet {
    width: 75vmin;
    align-self: center;
  }
  @media @desktop {
    //width: 40%;
    .cell {
      width: image-width("./dist/icons/original/tile.png");
    }
  }
}

.cell {
  .square;
  .center-outer;

  background-image: url('./icons/original/tile.png');
  background-size: 100% 100%;
}

.cell-single img {
  .table-cell-filler;
}

.cell-multi {
  .center-ver;
  .table-cell-filler;

  .table-equal;
  border-collapse: collapse;
}

.cell-multi-variant {
  .clickable;

  img {
    .table-cell-filler;
  }
}

.cell-multi-empty {
  .square;
}