@import "responsive";

@blue: #3000ff;

@multiboard-width-phone: 100vmin;
@multiboard-width-tablet: 75vmin;
@multiboard-width-desktop: 60vmin;

.badge {
  display: inline-block;
  margin-top: -0.15em;
  padding: 0.15em 0.2em;
  min-width: 0.8em;
  border-radius: 0.5em;
  background-color: white;
  color: @blue;
  font-size: 85%;

  text-align: center;
  vertical-align: middle;
  white-space: nowrap;
}

button {
  background-color: @blue;
  border: none;
  color: white;
  padding: 0.3em 0.5em;
  border-radius: 1em;
  font-size: 90%;

  .clickable;

  &.button-highlight {
    background-color: yellow;
    color: @blue;
  }

  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }

  /* Remove button padding in FF - https://stackoverflow.com/a/4343517 */
  &::-moz-focus-inner {
    border: 0;
    padding: 0;
  }
}

.buttons {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  button {
    flex-grow: 1;

    margin: 0.2em 0.7em;

    &.button-wide {
      flex-grow: 4;
    }
  }
}

.buttons-responsive {
  @media @phone and @landscape {
    flex-flow: column nowrap;

    button {
      margin: 0.7em 0.2em;
    }
  }
}

.box {
  margin: 0.7em;
  padding: 0.2em;
  border-radius: 0.3em;
  background-color: @blue;
  color: white;

  box-shadow: 0 0 0.3em 0.2em @blue;

  a {
    text-decoration: none;
    color: inherit;
  }

  a:hover, a:active {
    opacity: 0.8;
  }

  @media @tablet {
    font-size: 110%;
  }

  button {
    box-shadow: 0 0 0.4em lighten(@blue, 35%);
  }
}

.square {
  height: 0;
  padding-bottom: 100%;
}

.center-outer {
  position: relative;
}

.center-hor {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.center-ver {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.clickable() {
  cursor: pointer;
}

.table-cell-filler() {
  width: 100%;
}

.table-equal() {
  table-layout: fixed;
}

.table-gapless() {
  border-collapse: collapse;
  td {
    padding: 0;
    line-height: 0;
  }
}

a:hover {
  .clickable; // force href-less a-s to be clickable
}

small {
  display: inline-block;
  vertical-align: bottom;
  margin-bottom: 0.05em;
}

.small-number {
  margin-bottom: 0.10em;
}