@import "responsive";

@blue: #3000ff;

button {
  background-color: @blue;
  border: none;
  color: white;
  padding: 0.3em 0.5em;
  border-radius: 1em;
  font-size: 90%;

  .clickable;

  &.button-highlight {
    background-color: yellow;
    color: @blue;
  }

  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }
}

.square {
  height: 0;
  padding-bottom: 100%;
}

.center-outer {
  position: relative;
}

.center-hor {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.center-ver {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.clickable() {
  cursor: pointer;
}

.table-cell-filler() {
  width: 100%;
}

.table-equal() {
  table-layout: fixed;
}

.table-gapless() {
  td {
    padding: 0;
    line-height: 0;
  }
}